* {
  margin: 0;
  padding: 0;
}

body {
  font: 100% / 1.5 Lato, Arial;
}


/*----- For Parallax ----- */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax_layer {
  position: absolute;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer-front {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax_layer-back {
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px);
}


/*----- For Page ------ */
.parallax {
  font-size: 200%;
}

/* Add some padding to force scrollbars */
.parallax_layer {
  padding: 100vh 0;
}

/* Center the content in the parallax layers */
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*Change opacity to help see more clearly - TOGGLE ON AND OFF*/
.parallax_layer-front img {
  /*opacity: 0.7;*/
}
