* {
    margin: 10;
    padding: 0;
    box-sizing: border-box; /*This allows easy calculations for width and height*/
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
  min-height: 2400px;
}

.spacer {
    margin: 0 25% 0 25%
}

.pear-container {
    position: fixed;
    top: 150px;
    padding: 0px;
    border: 1px solid cyan;
}

.pickle-container {
    position: relative;
    top: 150px;
    padding: 0px;
    border: 1px solid red;
}

.pickle-container2 {
    position: relative;
    top: 800px;
    left: 220px;
    padding: 0px;
    border: 1px solid lime;
}

.pear-container img {
    border-radius: 50%;
    border: 1px solid blue;
}

.pickle-container img {
    border-radius: 50%;
    border: 1px solid pink;
}

.pickle-container2 img {
    border-radius: 50%;
    border: 1px solid green;
}

